
.fundo{
    background-image: url(../images/devs.jpeg);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.videoAtual{
    position: absolute;
}

body::-webkit-scrollbar{
    display: none;
}

#navbar{
    box-shadow: 0 0 10px black;
}

#subirVideo{
    display: none;
}

.medida{
    box-shadow: 0 0 10px black;
    transition: 100ms;
}

.medida:hover{
    z-index: 1;
}

.sumir{
    display: none;
}

.videosPlace{
    overflow-y: scroll;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    animation: frameSubirVideo 500ms;
}

.videosPlace::-webkit-scrollbar{
    display: none;
}

#videosPlace{
    display: none;
}

iframe{
    border-radius: 10px;
}

@keyframes frameSubirVideo {
    0%{
        top:100%;
    }
}

@media (max-width:750px){
    #todosVideosSobre{
        font-size: 10pt;
    }
}